.classpath
.project
.settings
.factorypath
build
target
bin

# ignore all Idea files except for common codestyle settings
*.iml
.idea/*
!.idea/checkstyle-idea.xml
!.idea/codeStyles/

work
atlassian-ide-plugin.xml
.work/
