language: java
dist: xenial
sudo: false

jdk:
  - openjdk8

install:
  - mvn clean install -DskipTests -Dmaven.javadoc.skip=true --batch-mode -V
script:
  - mvn -P enable-jacoco install jacoco:report --batch-mode -P owasp
after_success:
  - mvn coveralls:report --batch-mode
  - mvn -DskipTests verify

before_cache:
  - rm -fr /home/travis/.m2/repository/org/jenkins-ci/plugins/jira
  
cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.sonar/cache"
